*{
	margin: 0;
	padding: 0;
}

i.fa.fa-chevron-up {
    text-align: center;
    font-size: 28px;
    color: #fff;
    left: 50%;
    width: 100%;
    line-height: 2;
}

.iconlen {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #ffc0cb91;
    position: fixed;
    right: 2%;
    z-index: 10;
    top: 80%;
    opacity: 0;
    visibility: hidden;
}

.iconlen.iconhienra {
    opacity: 1;
    visibility: visible;
}

h1.h1top16 {
    font-size: 50px;
    margin-bottom: 3%;
}

p.ptop16 {
    width: 50%;
    text-align: center;
    font-size: 22px;
    margin-left: 24%;
    color: #3d5169;
}



p.ptop16-1 {
	text-align: left;
	width: 50%;
	/* margin-top: 30%; */
	font-size: 17px;
	margin-left: 34%;
	color: #3d5169;
}

h4.h4top16 {
	width: 100%;
	text-align: left;
	margin-left: 35%;
	font-size: 32px;
	margin-top: 27%;
}

.row.rowtop16-2 {
	width: 100%;
	height: 1550px;
}

.anhmotop16-1 {
	position: absolute;
	z-index: 3;
	background: #ffffff;
	width: 100%;
	border-radius: 50%;
	height: 100%;
}

img.anhtop16-1 {
	position: absolute;
	z-index: 4;
	border-radius: 50%;
	width: 45%;
	left: -17%;
	margin-top: 28%;
	box-shadow: 2px 0px 19px 0px #0000008c;
}

.chutop16 {
	width: 100%;
	position: absolute;
	text-align: center;
	margin-top: 4%;
}

.anhmotop16 {
	width: 100%;
	height: 106%;
	background: #ffffff9c;
	position: absolute;
}


.col-xs-12.col-sm-12.col-md-12.col-lg-12.coltop16 {
	width: 100%;
	height: 800px;
	position: relative;
	font-family: "Montez", cursive;
	overflow: hidden;
}
.anhtop4dc{
	transition: 10s;
	transform: scaleY(1.5);
}
p.ptopend {
	position: absolute;
	top: 60%;
	color: #fff;
	left: 43%;
	font-size: 31px;
}

h1.h1topend {
	position: absolute;
	z-index: 4;
	top: 45%;
	color: #fff;
	left: 37%;
	font-size: 89px;
}

.anhmotopend {
	width: 100%;
	height: 700px;
	position: absolute;
	background: #ffc0cb40;
	z-index: 3;
}

img.anhtopand {
	height: 700px;
	right: 0%;
	width: 100%;
	margin: 0 auto;
	position: absolute;
}

.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center.coltopend {
	height: 700px;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	margin-top: 5%;
}

.row.rowvideo {
	margin-top: 5%;
	margin-bottom: 1%;
}


img.img-responsive.anhtop16 {
	background-attachment: fixed;
}


html,body {
	width: 100%;
	height: 100%;
}
.if2 {
	width: 20px;
	height: 50px;
}

.quatim.col-xs-3.tim {
	font-size: 300px;
	position: absolute;
	right: 65px;
	bottom: 77px;
	color:#ffb8b8;
}

p.ptop15-2 {
	color: #909090;
	font-family: 'Caveat', cursive;
	text-align: left;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.coltop3-3 {
	margin-bottom: 8%;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.coltop14.text-center {
	margin-top: 5%;
	margin-bottom: 5%;
}
.ten {
	color: #ffffff;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.coltop7 {
	margin-bottom: 5%;
}
.col-lg-12.coltop5.text-center {
	margin-top: 5%;
}
.col-xs-12.col-sm-12.col-md-12.col-lg-12.coltop10 {
	text-align: center;
	margin-top: 5%;
	margin-bottom: 5%;
}
.h1top16 span {
    color: #df0225;
}

body {
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #f6f6f6;
}
p.ptop3 {
	color: pink;
}
p.ptop15-1 {
	color: #909090;
	font-family: 'Caveat', cursive;
	text-align: right;
}

img.img-responsive.anhtop13 {
	transition: 0.5s;
}
.anhtdc{
	transform: scaleY(1.5)
}
.col-md-4.col-lg-4:hover .anhtop13 {
	transform: rotate(5deg) scale(1.2);
}

.col-md-4.col-lg-4:hover .anhmotop13 {
	opacity: 1;
	visibility: visible;
}
.anhtop4dc{
	transition: 10s;
	transform: scaleY(1.3);
}
.col-md-4.col-lg-4:hover b.fa.fa-plus {
	opacity: 1;
	visibility: visible;
	transition:1s;
}
img.img-responsive.anhtop9 {
	margin: 0 auto;
	position: absolute;
	transition: 10s;
}
.top8 {
	margin-bottom: 5%;
}

.anhmotop13 {
	position: absolute;
	height: 370px;
	opacity: 0;
	transition: 1.4s;
	width: 370px;
	background: #ffb8b869;
	visibility: hidden;
}
nav.navbar.navbar-default.menuhienra{
	background: #00000082;
}
img.img-responsive.anhtop13 {
	position:absolute;
}

.cheanhtop13 {
	width: 370px;
	height: 320px;
	position: relative;
	overflow: hidden;
}
.anhmotop13 {
	height: 356px;
	width: 100%;
}
img.img-responsive.anhtop13 {
	position: absolute;
}
.anhmotop13 {
	height: 321px;
	position: absolute;
}
.col-md-4.col-lg-4 {
}
.row.rowtop15 {
	width: 50%;
	margin-left: 25%;
}

.maudeptop11 {
	width: 269px;
	height: 358px;
	position: absolute;
	opacity: 0;
	z-index: 2;
	transition: 1.5s;
	background: #ffc0cb47;
	visibility: hidden;
}

.cheanh {
	width: 269px;
	height: 358px;
	overflow: hidden;
	position: relative;
}
.col-md-4.col-lg-4 {
	margin-top: 2%;
}

.col-md-4.col-lg-4.coltop16-2 {
	width: 23%;
	height: 23%;
	left: 16%;
	margin-top: 20%;
}

.col-md-4.col-lg-4.col-push-md-2.coltop16-1 {
	width: 23%;
	height: 23%;
	margin-left: 22%;
	margin-top: 20%;
}
iframe {
	height: 400px;
	width: 62%;
}
.col-md-3.col-lg-3.coltop11:hover .anhtop11 {
	transform:rotate(5deg) scale(1.2);
}
.col-md-3.col-lg-3.coltop11:hover .maudeptop11 {
	opacity:1;
	visibility: visible;

	
}
h1.h1video {
	margin-bottom: 4%;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #fff;
}

.tenvk.wow.wobble {
	position: absolute;
	font-size: 41px;
	bottom: 3%;
	right: 6%;
}
img.img-responsive.anhtop16 {
	margin: 0 auto;
	width: 100%;
	height: 100%;
	position: absolute;
}

.tenck.wow.wobble {
	font-size: 47px;
	right: 6%;
	position: absolute;
	bottom: 10%;
}
b.fa.fa-plus {
	/* width: 370px; */
	/* height: 370px; */
	position: absolute;
	z-index: 3;
	top: 44%;
	color: #fff;
	left: 44%;
	visibility: hidden;
	font-size: 70px;
	opacity: 0;
}

ul.nav.navbar-nav.navbar-right {
	margin-top: -47px;
}


a.navbar-brand {
	font-size: 46px;
	}@media only screen and (min-width: 414px) and (max-width: 736px)
	{
		h1.h1top16 {
    font-size: 33px;
}
p.ptop16 {
    width: 90%;
    font-size: 12px;
    margin-left: 13px;
}


		.tenck.wow.wobble {
			font-size: 13px;
			right: 39%;
			position: absolute;
			bottom: 3%;
		}
		.tenvk.wow.wobble {
			font-size: 13px;
			right: 37%;
			position: absolute;
			bottom: -4%;
		}
		button.btn-btn-default.btt8-1{
			width: 50%
			
		}
		button.btn-btn-default.btt8-2{
			width: 50%
		}
		.anhchinh {
			overflow: hidden;
		}

		.cheanh{
			width: 257px;
			left: 65px;
			height: 357px;
		}
		.cheanhtop13{
			width: 313px;
			height: 313px;
			position: relative;
			overflow: hidden;
		}
		b.fa.fa-plus{
			left: 38%;
		}
		.col-md-4.col-lg-4 {
			margin-top: 0;
		}
		.row.rowtop15 {
			width: 100%;
			margin-left: 0;
		}
		.quatim.col-xs-3.tim {
			font-size: 109px;

			right: 44px;
			bottom: -12px;
			
		}
		iframe {
			height: 210px;
			width: 100%;
			}.col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center.coltopend {
				height: 380px;

				}img.anhtopand {
					height: 380px;
					right: 0%;


				}
				.anhmotopend {
					width: 100%;
					left: 0px;
					height: 380px;

				}


				h1.h1topend {
					top: 35%;
					left: 20%;
					font-size: 55px;
				}
				p.ptopend {
					top: 54%;
					left: 30%;
					font-size: 23px;
				}
				.col-md-4.col-lg-4 {
					left: 4%;
					margin-top: 5%;
				}

				.col-md-4.col-lg-4.coltop16-2 {
					width: 300px;
					height: 11%;
					left: 0px;
					margin-top: 29%;
				}
				.col-md-4.col-lg-4.col-push-md-2.coltop16-1 {
					width: 23%;
					height: 11%;
					margin-top: 64%;
					left: 0px;
					margin-left: 0px;
				}
				img.anhtop16-1 {
					position: absolute;
					z-index: 4;
					border-radius: 50%;
					width: 101px;
					top: -138px;
					left: 147px;
				}

img.anhtop16-1.tuan {
    margin-top: 82px;
}
				.anhmotop16-1 {
					position: absolute;
					z-index: 3;
					background: #ffffff;
					width: 383px;
					border-radius: 0%;
					height: 123%;
					left: 0;
					margin-left: 0px;
				}

				h4.h4top16 {
					width: 100%;
					text-align: left;
					margin-left: 41%;
					font-size: 28px;
					margin-top: 13%;
				}
				p.ptop16-1 {
					text-align: center;
					width: 90%;
					/* margin-top: 30%; */
					font-size: 14px;
					margin-left: 19px;
				}









			}

			@media only screen and (min-width: 758px) and (max-width: 1366px){
				.anhmotop16-1 {
 
    height: 87%;
}
h4.h4top16 {
 
    margin-top: 16%;
}





				.gachtop6-2{
					opacity: 0;
				}
				.tenck.wow.wobble {

					right: 36%;

					bottom: 9%;
				}
				.tenvk.wow.wobble {

					bottom: 2%;

					right: 36%;
				}
				.row.rowtop11 {
					width: 102%;
				}
				.col-md-3.col-lg-3.coltop11 {
					width: 23%;
					float: left;
				}
				.row{
					margin-right: 0px;
					margin-left: 0px;
				}
				.col-xs-12.col-sm-12.col-md-12.col-lg-12.coltop9.text-center {
					height: 432px;
					}.quatim.col-xs-3.tim {

						right: 65px;
						bottom: -60px;
						font-size: 224px;
					}
					a.navbar-brand {
						font-size: 33px;






					}
